.TzItemPage #comments {
    padding: 25px 0;
}

/* Style for related article */
.TzItemPage .TzRelated .list-item .owl-controls{
    position: static;
}
.TzItemPage .TzRelated .list-item .owl-controls .owl-prev,
.TzItemPage .TzRelated .list-item .owl-controls .owl-next {
    top: 50%;
    font-size: 24px;
    margin-top: -13px;
    position: absolute;
}
.TzItemPage .TzRelated .list-item .owl-controls .owl-prev:hover,
.TzItemPage .TzRelated .list-item .owl-controls .owl-next:hover,
.TzItemPage .TzRelated .list-item .owl-controls .owl-prev:focus,
.TzItemPage .TzRelated .list-item .owl-controls .owl-next:focus {
    color: #0088cc;
}
.TzItemPage .TzRelated .list-item .owl-controls .owl-prev{
    left: -50px;
}
.TzItemPage .TzRelated .list-item .owl-controls .owl-next {
    right: -50px;
}

/* Style for flexslider */
.TzItemPage .tz_portfolio_plus_image_gallery{
    position: relative;
}
.TzItemPage .flexslider{
    margin: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.TzItemPage .flexslider.carousel{
    bottom: 0;
    width: 100%;
    padding: 10px 17%;
    position: absolute;
    background: none;
}
.TzItemPage .flexslider.carousel .slides > li{
    margin-right: 10px;
}
.TzItemPage .flexslider.carousel img{
    max-height: 60px;
}
.TzItemPage .flexslider.carousel .flex-active-slide{
    border: 3px solid #fff;
}
.TzItemPage .flexslider.carousel .flex-active-slide img{
    max-height: 54px;
}
.TzItemPage .flex-control-thumbs{
    padding: 0 50px;
}
.TzItemPage .flex-control-thumbs li{
    width: 16.6%;
    padding: 10px 5px;
}
.TzItemPage .flex-control-thumbs img.flex-active{
    border: 3px solid white;
}
.TzItemPage .TzArticleMedia .flexslider .flex-viewport img{
    margin: 0;
}
.TzItemPage .flexslider .flex-control-thumbs{
    margin: 0;
    background: rgba(48,48,48,0.3);
}
.TzItemPage .flexslider .flex-control-thumbs img{
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
.TzItemPage .flex-direction-nav a{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: rgba(255,255,255,0.5);
    background: rgba(48,48,48,0.3);
}
.TzItemPage .flex-direction-nav a:before{
    font-family: 'tzportfolioplus_iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 14px;
    color: inherit;
    text-shadow: none;
}
.TzItemPage .flex-direction-nav a:hover,
.TzItemPage .flex-direction-nav a:focus{
    color: #0088cc;
    background: white;
}
.TzItemPage .flexslider:hover .flex-direction-nav .flex-next{
    opacity: 1;
    right: 20px;
}
.TzItemPage .flexslider:hover .flex-direction-nav .flex-prev{
    opacity: 1;
    left: 20px;
}
.TzItemPage .flexslider.carousel .flex-direction-nav a{
    height: 26px;
    line-height: 26px;
    margin: -13px 0 0;
    width: 26px;
}
.TzItemPage .flexslider.carousel:hover .flex-direction-nav .flex-next{
    right: 13px;
}
.TzItemPage .flexslider.carousel:hover .flex-direction-nav .flex-prev{
    left: 13px;
}
.TzItemPage .flex-direction-nav a.flex-next::before{
    content: "\ea3c";
}
.TzItemPage .flex-direction-nav a.flex-prev::before{
    content: "\ea40";
}