/* Styles for portfolio view */
#portfolio{
    color: #3f3f3f;
}
.element .TzPortfolioDescription{
    color: #aaa;
    font-style: italic;
    padding: 18px 9px 9px;
    border: 1px solid #e7e7e7;
}
.element .TzPortfolioTitle{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
}

.element .TzPortfolioTitle,
.element .TzPortfolioTitle a{
    color: #3f3f3f;
    font-style: normal;
}
.element .TzArticleMedia{
    position: relative;
}

.element .tzpp_absolute{
    z-index: 2;
}
.element .tzpp_button{
    color: #0088cc;
    width: 50px;
    height: 50px;
    margin: 0 3px;
    background: white;
    line-height: 50px;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.element .tzpp_button:nth-child(2n){
    color: white;
    background: rgba(255,255,255,0.3);
}
.element .TzArticleMedia .tzpp_absolute{
    opacity: 0;
    background: rgba(63,63,63,0.8);
    visibility: hidden;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s ;
}
.element .TzInner:hover .TzArticleMedia .tzpp_absolute{
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}