.breadcrumb.tz_portfolio_plus_like_button{
    padding: 0 10px;
    margin-top: 0;
    display: block;
    margin-bottom: 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}