<?xml version="1.0" encoding="utf-8"?>
<form>
    <fields name="params">
        <fieldset name="mediatype_image_gallery"
                  label="PLG_MEDIATYPE_IMAGE_GALLERY_FIELDSET_LABEL">
            <field type="radio" name="mt_img_gallery_switcher"
            default="image" class="btn-group"
            label="PLG_MEDIATYPE_IMAGE_GALLERY_SWITCHER_LABEL">
            <option value="image">PLG_MEDIATYPE_IMAGE_GALLERY_IMAGE_LABEL</option>
            <option value="gallery">PLG_MEDIATYPE_IMAGE_GALLERY_GALLERY</option>
            </field>
            <field type="tzimagesizelist" name="mt_img_gallery_size"
                   addon="image_gallery"
                   addon_group="mediatype"
                   param_name="image_gallery_size"
                   param_text="title"
                   param_value="image_name_prefix"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_SIZE_LABEL">
                <option value="o">PLG_MEDIATYPE_IMAGE_GALLERY_ORIGINAL</option>
            </field>

            <!-- Start flexslider options -->
            <field type="spacer" name="spacer_flexslider" hr="true"/>
            <field type="spacer" name="spacer_flexslider_name"
                   class="alert alert-warning btn-block"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_OPTIONS_LABEL"/>

            <field type="radio" name="mt_img_gallery_flex_slideshow"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SLIDESHOW_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SLIDESHOW_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_show_arrows"
                   class="btn-group" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SHOW_ARROWS_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SHOW_ARROWS_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field name="mt_img_gallery_flex_show_controlNav"
                   type="radio" class="btn-group"
                   default="1"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SHOW_CONTROLNAV_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SHOW_CONTROLNAV_DESC">
                <option value="0">JHIDE</option>
                <option value="1">JSHOW</option>
            </field>
            <field type="list" name="mt_img_gallery_flex_controlnav_type"
                   class="btn-group" default="none"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_CONTROLNAV_TYPE_LABEL">
                <option value="none">JDEFAULT</option>
                <option value="thumbnails">PLG_MEDIATYPE_IMAGE_GALLERY_THUMBNAILS</option>
                <option value="thumbnail_slider">PLG_MEDIATYPE_IMAGE_GALLERY_THUMBNAIL_SLIDER</option>
            </field>
            <field type="tzimagesizelist" name="mt_img_gallery_thumb_size"
                   addon="image_gallery"
                   addon_group="mediatype"
                   param_name="image_gallery_size"
                   param_text="title"
                   param_value="image_name_prefix"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_THUMBNAIL_SIZE_LABEL">
                <option value="o">PLG_MEDIATYPE_IMAGE_GALLERY_ORIGINAL</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_pausePlay"
                   class="btn-group" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_PAUSEPLAY_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_PAUSEPLAY_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_pauseOnAction"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_PAUSEONACTION_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_PAUSEONACTION_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_pauseOnHover"
                   class="btn-group" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_PAUSEONHOVER_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_PAUSEONHOVER_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_useCSS"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_USECSS_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_USECSS_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="list" name="mt_img_gallery_flex_direction"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SLIDE_DIRECTION_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SLIDE_DIRECTION_DESC">
                <option value="horizontal">PLG_MEDIATYPE_IMAGE_GALLERY_HORIZONTAL</option>
                <option value="vertical">PLG_MEDIATYPE_IMAGE_GALLERY_VERTICAL</option>
            </field>
            <field type="list" name="mt_img_gallery_flex_animation"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_AMINATION_LABEL">
                <option value="none">PLG_MEDIATYPE_IMAGE_GALLERY_AUTOMATICALLY</option>
                <option value="slide">PLG_MEDIATYPE_IMAGE_GALLERY_SLIDE</option>
                <option value="fade">PLG_MEDIATYPE_IMAGE_GALLERY_FADE</option>
            </field>
            <field type="text" name="mt_img_gallery_flex_animSpeed"
                   default="7000"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ANIMSPEED_LABEL"/>
            <field type="text" name="mt_img_gallery_flex_anim_duration"
                   default="600"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_DURATION_LABEL"/>
            <field type="radio" name="mt_img_gallery_flex_animLoop"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ANIMATION_LOOP_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ANIMATION_LOOP_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_smoothHeight"
                   class="btn-group" default="1"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SMOOTH_HEIGHT_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_SMOOTH_HEIGHT_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="radio" name="mt_img_gallery_flex_randomize"
                   class="btn-group" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_RANDOMIZE_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_RANDOMIZE_DESC">
                <option value="0">JNO</option>
                <option value="1">JYES</option>
            </field>
            <field type="text" name="mt_img_gallery_flex_startAt" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_START_AT_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_START_AT_DESC"/>
            <!-- Carousel -->
            <field type="text" name="mt_img_gallery_flex_itemWidth" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEM_WIDTH_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEM_WIDTH_DESC"/>
            <field type="text" name="mt_img_gallery_flex_itemMargin" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEM_MARGIN_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEM_MARGIN_DESC"/>
            <field type="text" name="mt_img_gallery_flex_minItems" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEMS_MIN_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEMS_MIN_DESC"/>
            <field type="text" name="mt_img_gallery_flex_maxItems" default="0"
                   label="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEMS_MAX_LABEL"
                   description="PLG_MEDIATYPE_IMAGE_GALLERY_FLEXSLIDER_ITEMS_MAX_DESC"/>
            <!-- End carousel -->

            <!-- End flexslider options -->
        </fieldset>
    </fields>
</form>